alembic==0.8.8
bcolz==0.12.1
beautifulsoup4==4.4.1
Bottleneck==1.1.0
cachetools==1.1.6
click==6.6
contextlib2==0.5.4
cyordereddict==1.0.0
Cython==0.24.1
decorator==4.0.10
Django==1.9.5
empyrical==0.2.0
intervaltree==2.1.0
Logbook==1.0.0
Mako==1.0.4
MarkupSafe==0.23
multipledispatch==0.4.8
networkx==1.11
numexpr==2.6.1
numpy==1.11.1
pandas==0.17.1
pandas-datareader==0.2.1
patsy==0.4.1
psycopg2==2.6.1
python-dateutil==2.5.3
python-editor==1.0.1
pytz==2016.6.1
requests==2.11.1
requests-file==1.4
scipy==0.18.1
six==1.10.0
sortedcontainers==1.5.3
SQLAlchemy==1.0.15
statsmodels==0.6.1
toolz==0.8.0
zipline==1.0.2
