{% extends 'stocks/base.html' %}

{% block content %}

<div id="main-box">

    <div id="list-title">
        <h1 style="float: left; display: inline;">Stock Symbols</h1>
        <div id="stock-symbol-lookup">
            <form action="" method="POST">
                {% csrf_token %}
                <!--{{ form }}  Uses standard django form-->
                {% for field in form %}
                    {{ field.label_tag }} {{ field }}
                {% endfor %}
                <input type="submit" value="Search" />
            </form>
        </div>
    </div>

    <div id="stock-symbol-lookup-results">
        {% if stock_lookup_list %}
            {% if stock_lookup_list == '0' %}
                <h3>No matches.</h3>
            {% else %}
                <h5>Possible Lookup Matches:</h5>
                <ul style="list-style-type:none">
                    {% for stock in stock_lookup_list %}
                        <li><a class="list" href="{% url 'stocks:summary' stock.id %}">{{ stock.symbol }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
    </div>



    <div id="data-list">
        {% if all_stocks_list %}
            <ul>
                {% for stock in all_stocks_list %}
                    <li><a class="list" href="{% url 'stocks:summary' stock.id %}">{{ stock.symbol }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No stocks are available.</p>
        {% endif %}
    </div>

</div>

{% endblock content %}